.header{
 	/*background: -webkit-linear-gradient(left, #9242FF , #4FD7FD);
    background: -o-linear-gradient(right, #9242FF, #4FD7FD);
    background: -moz-linear-gradient(right, #9242FF, #4FD7FD);
    background: linear-gradient(to right, #9242FF , #4FD7FD);*/
   	background: #5FA4FF;
	position: relative !important;
}

.banner{
	height: 490px;
	padding: 1px 0px;
	position: relative;
}
.banner>img{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.banner .banner_box{
	position: relative;
	z-index: 1;
	width: 350px;
	height: 250px;
	margin: 100px auto 0px;
	text-align: center;
	color: #FFFFFF;
	overflow: hidden;
	position: relative;
}
.banner .banner_box>div{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	margin: auto;
	width: 350px;
	height: 350px;
	border-left:4px solid rgba(255,255,255,0.5);
	border-right:4px solid rgba(255,255,255,0.5);
	border-radius: 100%;
	padding-top: 125px;
}
.banner .banner_box .title{
	font-size: 30px;
	display: inline-block;
	border-bottom: 4px solid #FFFFFF;
}
.banner .banner_box .text{
	font-size: 24px;
}


.box_1_1{
	background:#F2F2F2;
}
.box_1_1>div{
	width: 1200px;
	margin: 0px auto;
	position: relative;
	font-size: 16px;
	padding: 25px 0px;
}
.box_1_1>div>a{
	display: inline-block;
	height: 32px;
	line-height: 32px;
	margin-right: 45px;
	color: #000011;
}
.box_1_1>div>a.active{
	color: #4298FF;
}
.box_1_1>div>a.Consultation{
	float: right;
	font-size: 12px;
	width: 97px;
	text-align: center;
	background: #6DDE36;
	color: #FFFFFF;
	margin-right: 0px;
	border-radius: 30px;
}
.box_1_1>div>i{
	color: #C5CDFF;
	margin-right: 11px;
}



.box_1{
	padding: 1px 0px;
	width: 1200px;
	margin: 0px auto;
}
.box_1 .title{
	font-size: 30px;
	line-height: 30px;
	color: #000011;
	margin: 55px 0px 31px;
	text-align: center;
}
.box_1 .time{
	font-size: 0px;
	text-align: center;
}
.box_1 .time>li{
	display: inline-block;
	font-size: 12px;
	color: #000011;
	margin: 0px 10px;
	line-height: 12px;
}
.box_1 .line_1{
	margin: 42px auto 40px;
	height: 1px ;
	background: #0D1330;
}
.box_1 .cont{
	width: 1200px;
	margin: 0px auto;
	border-bottom: 1px solid #0D1330;
	padding:0px 0px 96px 0px ;
}
.box_1 .cont img{
	max-width: 100%;
}

.box_2{
	width: 1200px;
	margin: 0px auto;
	padding: 1px 0px;
}
.box_2 .share{
	padding: 41px 0px 48px;
}
.box_2 .share>div:nth-child(1){
	padding: 8px;
	float: left;
}
.box_2 .share>div:nth-child(2){
	float: left;
}
.box_2 .box2_header{
	height: 52px;
	background: #4298FF;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 52px;
	padding : 0px 0px 0px 30px;
}
.box_2 .box2_header i{
	background: #EEEBEA;
	padding: 5px;
	font-size: 18px;
	border-radius: 3px;
	margin-right: 10px;
}
.box_2 .input_box{
	margin: 41px 0px 0px;
}
.box_2 .input_box>div:nth-child(1){
	float: left;
}
.box_2 .input_box>div:nth-child(1) span{
	color: red;
	margin-right: 6px;
}
.box_2 .input_box>div:nth-child(2){
	padding-left: 90px;
}
.box_2 .input_box>div:nth-child(2)>textarea{
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	min-height: 150px;
	outline: none;
	padding: 10px;
}
.box_2 .input_box>div:nth-child(2)>textarea:focus{
	border: 1px solid #4298FF;
}
.box_2 .input_box>div:nth-child(2) .box2_btn{
	width: 119px;
	height: 35px;
	color: #FFFFFF;
	border: none;
	outline: none;
	font-size: 12px;
	margin: 20px 0px 0px;
	background: #4298FF;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.box_2 .input_box>div:nth-child(2) .box2_btn:hover{
	background: #005ece;
}
.box_2 .input_box>div:nth-child(2) .box2_btn>i{
	margin-right: 5px;
}
.box_2 .box_list{
	width: 1200px;
	margin: 40px auto 0px;
	padding: 1px 0px;
	border-top: 20px solid #D9D9D9;
	min-height: 200px;
}
.box_2 .box_list>li{
	border-bottom: 1px solid #F0F0F0;
	padding: 15px 15px 15px;
	font-size: 14px;
}
.box_2 .box_list>li.list_title{
	font-weight: bold;
	padding: 16px;
}
.box_2 .box_list>li>i{
	width: 46px;
	height: 46px;
	background: #D9D9D9;
	font-size: 38px;
	text-align: center;
	color: #FFFFFF;
	float: left;
}
.box_2 .box_list>li>div{
	margin-left: 60px;
}
.box_2 .box_list .text{
	font-size: 14px;
	font-weight: bold;
}
.box_2 .box_list .time{
	margin: 6px 0px 0px 0px;
	font-size: 12px;
}
.box_2 .paging{
	font-size: 0px;
	text-align: center;
	margin: 35px 0px 53px 0px;
}
.box_2 .paging li{
	display: inline-block;
	margin: 0px 5px;
	min-height: 30px;
	min-width: 30px;
	font-size: 12px;
	line-height: 28px;
	padding: 0px 5px;
	border: 1px solid #EBEBEB;
	color: #999999;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.box_2 .paging li:not(.disable):hover{
	color: #FFFFFF;
	background: #4298FF;
	border: 1px solid #4298FF;
}
.box_2 .paging .PREVIOUS{
	border-radius: 30px 0px 0px 30px;
	padding: 0px 10px;
}
.box_2 .paging .NEXT{
	border-radius:0px 30px 30px 0px;
	padding: 0px 10px;
}
.box_2 .paging li.disable{
	color: #B2B2B2;
	cursor: not-allowed;
}
.box_2 .paging li.active{
	color: #FFFFFF;
	background: #4298FF;
	border: 1px solid #4298FF;
}



