<!DOCTYPE HTML>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
		<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge,IE=11,IE=10,IE=9,IE=8"/>
		<meta http-equiv="expires" content="0" /> 
		<meta http-equiv="Pragma" content="no-cache" />
		
		<title>{$basic.WebsiteTitle.val}-{$basic.Subtitle.val}</title>
		<meta name="description" content="{$basic.description.val}" />
		<meta name="keywords" content="{$basic.keywords.val}" />
		
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/fontclass/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.css" />
		<!--顶部-->
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/pc/css/nav.css?a=2" />
		<!--底部-->
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/pc/css/footer.css" />
		
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/pc/css/index.css?v=20" />
	</head>
	<body>
	<div class="max_box">
		
		<div>
			
		<!--导航-->
		{include file="index::nav" /}
		
		<div class="banner">
			<div id="myCarousel" class="carousel slide">
			    <!-- 轮播（Carousel）项目 -->
			    <div class="carousel-inner">
			    	{foreach name="banner" item="bannerObj" key="i"}
			        <div class="item {$i==0 ? 'active':''} mini" img-data="__UPLOAD__/{$bannerObj.imgUrl}" style="background-image: url('__UPLOAD__/{:str_replace('.','_mini.',$bannerObj.imgUrl)}');">
			            <!--<img class="large_img backgroundcover" src="__UPLOAD__/{:str_replace('.','_mini.',$bannerObj.imgUrl)}" />-->
			            <div class="banner_box">
			            	<div class="banner_Line"></div>
			            	<div class="banner_title">{$bannerObj.title}</div>
			            	<div class="banner_text">{$bannerObj.text}</div>
			            	<a href="{:url('index/index/product')}" class="banner_btn">了解更多</a>
			            </div>
			        </div>
			        {/foreach}
			    </div>
			</div>
		</div>
		
		<div class="box_1">
			<div class="title_1">领先、安全、稳定的软件开发服务</div>
			<div class="title_2">App开发、网站开发、系统集成、物联网、微信小程序等网络建设服务，众联云海助您飞跃发展</div>
			<ul class="box1_list">
				<!--{foreach name="productTypeList" item="productTypeObj" key="i"}
					{if condition="$i lt 3"}
						{if condition="$i==0"}
							<li class="left">
							{elseif condition="$i==1"/}
							<li class="in">
							{elseif condition="$i==2"/}
							<li class="right">
						{/if}
								<div>
									<div class="box1_img"><img src="__UPLOAD__/{$productTypeObj.picture}"/></div>
									<div class="box1_title">{$productTypeObj.name}</div>
									<div class="box1_text">{$productTypeObj.introduce}</div>
									<a class="box1_btn" href="{:url('index/index/product#classification')}">了解更多</a>
								</div>
							</li>
					{/if}
				{/foreach}-->
				<li class="left">
					<div>
						<div class="box1_img"><img src="__PUBLIC__/image/app_1.png"/></div>
						<div class="box1_title">APP开发</div>
						<div class="box1_text">移动设备、广告机等电子设备的Android与IOS项目开发</div>
						<a class="box1_btn" href="{:url('index/index/product#classification')}">了解更多</a>
					</div>
				</li>
				<li class="in">
					<div>
						<div class="box1_img"><img src="__PUBLIC__/image/网站_1.png"/></div>
						<div class="box1_title">网站类建设</div>
						<div class="box1_text">前端移动设备与电脑PC端的网页设计与开发工作以及维护与搭建</div>
						<a class="box1_btn" href="{:url('index/index/product#classification')}">了解更多</a>
					</div>
				</li>
				<li class="right">
					<div>
						<div class="box1_img"><img src="__PUBLIC__/image/ui_1.png"/></div>
						<div class="box1_title">UI设计</div>
						<div class="box1_text">软件与网页的界面优化及用户体验的额设计与开发工作</div>
						<a class="box1_btn" href="{:url('index/index/product#classification')}">了解更多</a>
					</div>
				</li>
				<li class="cb"></li>
			</ul>
			<div class="box1_line"></div>
		</div>
		
		<div class="box_2">
			<div class="title_1">关于我们是做什么的，我们的服务宗旨的简单介绍</div>
			<div class="box2_line"></div>
			<ul>
				<li><img src="__PUBLIC__/image/bg_2.png"/></li>
				<li>
					<div class="title_2">我们是做什么？</div>
					<div class="text_2">成都众联云海科技是一家以网站建设为主的专业软件设计开发公司<br />开发不满10年，有着优质的网站经验</div>
					<div class="title_2">我们的服务范围和所取得的成就</div>
					<div class="text_2">从移动端到PC端，从宣传到设备等一系列的软件开发与设计，我们的服务范围广阔，全球各地的软件类服务我们都提供，
							国内有超过500家被我们服务过的企业，曾取得过四川优秀软件开发以及四川人A级软件提供奖项。
					</div>
					<div class="title_2">我们的服务宗旨</div>
					<div class="text_2">成都众联云海一切以客户为主，以优质软件开发和后期维护的良好理念，为每一个客户提供最满意的软件开发服务。</div>
				</li>
				<li class="cb"></li>
			</ul>
			<div class="box2_btn"><a href="{:url('index/index/AboutUs')}">点击此处了解更多相关内容  <i class="icon iconfont icon-unif054"></i></a></div>
		</div>
		
		<div class="box_3">
			<div class="box3_title">教育类软件开发平台</div>
			<div class="box3_text">在教育类行业的软件开发，我们有着丰富的经验，所开发的类别包括电子班牌、互动课堂、管理后台等<br />在医疗行业我们也涉及广阔，包括医疗自助机、后台系统等其他相关设备开发</div>
			<ul>
				<li class="left">
					<div>
						<div class="img">
							<img src="__PUBLIC__/image/picture_1.png"/>
						</div>
						<div class="title_1">电子班牌</div>
						<div class="text_1">移动设备、广告机等电子设备的Android与IOS项目开发</div>
					</div>
					<div class="cb"></div>
				</li>
				<li class="in">
					<div>
						<div class="img">
							<img src="__PUBLIC__/image/picture_2.png"/>
						</div>
						<div class="title_1">互动课堂</div>
						<div class="text_1">移动设备、广告机等电子设备的Android与IOS项目开发</div>
					</div>
					<div class="cb"></div>
				</li>
				<li class="right">
					<div>
						<div class="img">
							<img src="__PUBLIC__/image/picture_3.png"/>
						</div>
						<div class="title_1">医疗自助机</div>
						<div class="text_1">移动设备、广告机等电子设备的Android与IOS项目开发</div>
					</div>
					<div class="cb"></div>
				</li>
				<li class="cb"></li>
			</ul>
			<a class="box3_btn" href="{:url('index/index/product#characteristic')}">了解更多</a>
		</div>
		
		<div class="box_4">
			<div class="title_1">众联云海，今天已经为全国137家企业180次服务</div>
			<div class="line"></div>
			<div class="text_1">
				在教育类行业的软件开发，我们有丰富的经验，所开发的类别包括电子班牌、互动课堂、管理后台等<br />
				在医疗行业我们也设计广泛，包括医疗自助机、后台系统等其他相关设备开发<br />
				我们坚持为用户打造一流的软件技术服务，用我们的一份坚持为用户创造更满意的应用软件<br />
				得到用户的满意好评，是我们一直以来的追求。
			</div>
			<ul class="box_list">
				<li>
					<div><span class="countUp">137</span></div>
					<div>服务企业</div>
				</li>
				<li>
					<div><span class="countUp">180</span><i class="icon iconfont icon-anonymous-iconfont"></i></div>
					<div>服务次数</div>
				</li>
				<li>
					<div><span class="countUp">12</span></div>
					<div>大型企业</div>
				</li>
				<li>
					<div><span class="countUp">78</span></div>
					<div>后期维护</div>
				</li>
			</ul>
			<!--<a class="box4_btn" href="javascript:;">查看服务领域</a>-->
		</div>
		
		<div class="box_5">
			<div class="title_1">我们服务过的项目</div>
			<div class="line_1"></div>
			<ul>
				{volist name="CustomerLogo" id="CustomerLogoObj" offset="0" length='4'}
					<li>
						<img class="a_img" src="__UPLOAD__/{$CustomerLogoObj.picture}"/>
						<img src="__UPLOAD__/{$CustomerLogoObj.picture}"/>
					</li>
				{/volist}
					<li class="cb"></li>
				{volist name="CustomerLogo" id="CustomerLogoObj" offset="4" length='5'}
					<li>
						<img src="__UPLOAD__/{$CustomerLogoObj.picture}"/>
						<img src="__UPLOAD__/{$CustomerLogoObj.picture}"/>
					</li>
				{/volist}
				<!--<li><img src="__PUBLIC__/image/心灵文化.png"/></li>
				<li class="cb"></li>
				<li><img src="__PUBLIC__/image/box_5.png"/></li>-->
			</ul>
			<div class="line_2"></div>
		</div>
		
		<div class="box_6">
			<div class="box6_title">为企业互联网战略转型提供标准化解决方案</div>
			<div class="line"></div>
			<ul class="list_1">
				
				{volist name="productList_6" id="productObj" offset="0" length='3'}
				<li>
					<a href="{:url('index/index/details?i='.$productObj.Id)}">
					<div>
						<div class="time_1">{:date('d M Y',strtotime($productObj.CreationTime))}</div>
						<div class="img_1"><img src="__UPLOAD__/{$productObj.CoverMap}"/></div>
						<div class="title_1">{$productObj.title}</div>
						<div class="text_1">{$productObj.introduce}</div>
					</div>
					</a>
				</li>
				{/volist}
				<!--<li>
					<a href="{:url('index/index/details')}">
					<div>
						<div class="time_1">10 jan 2017</div>
						<div class="img_1"><img src="__PUBLIC__/image/OC51(]`W`UNOHQFX2RONMA8.png"/></div>
						<div class="title_1">广州英浮小学电子班牌设计展示</div>
						<div class="text_1">电子班牌用户学生上下学打开，方便教师了解学生上课情况以及展示其他班级内学生获奖或其优异情况...</div>
					</div>
					</a>
				</li>-->
				<li class="cb"></li>
			</ul>
			<ul class="list_2">
				{volist name="productList_6" id="productObj" offset="3" length='3'}
				<li>
					<a href="{:url('index/index/details?i='.$productObj.Id)}">
					<div>
						<div><div class="img_2"><img src="__UPLOAD__/{$productObj.CoverMap}"/></div></div>
						<div>
							<div class="time_2">时间：{:date('d M Y',strtotime($productObj.CreationTime))}</div>
							<div class="title_2">{$productObj.title}</div>
						</div>
					</div>
					</a>
				</li>
				{/volist}
				<!--<li>
					<a href="{:url('index/index/details')}">
					<div>
						<div><div class="img_2"><img src="__PUBLIC__/image/432c94ba8147e9747a042184659cc256.jpg"/></div></div>
						<div>
							<div class="time_2">完结时间：12 jan 2017</div>
							<div class="title_2">重庆南平小学<br />互动课堂软件</div>
						</div>
					</div>
					</a>
				</li>-->
				<li class="cb"></li>
			</ul>
			<a class="box6_btn" href="{:url('index/index/productlist')}">查看全部项目</a>
		</div>
		
		<div class="box_7">
			<div class="title">现在联系我们<br />用心为你打造前所未有的服务</div>
			<a class="box7_btn" href="{:url('index/index/AboutUs')}#contactus">查看联系方式</a>
		</div>
		
		<div class="box_8">
			<div class="title">携手共赢，与全球合作伙伴共建云端生态</div>
			<div class="text">加入众联云海合作伙伴计划，开创新业务，获取技术、资源，实现更快速成长</div>
			<div class="list_box">
				<ul>
					{volist name="PartnerLogo" id="PartnerLogoObj"}
						<li>
							<img src="__UPLOAD__/{$PartnerLogoObj.picture}"  />
							<img src="__UPLOAD__/{$PartnerLogoObj.picture}"  />
						</li>
					{/volist}
					<!--<li><img src="__PUBLIC__/image/logo8/1502789598254.png"  /></li>
					<li><img src="__PUBLIC__/image/logo8/1502789837456.png"  /></li>-->
					<li class="cb"></li>
				</ul>
			</div>
		</div>
		
		{include file="index/footer" /}
		
		</div>
	</div>		
				
		<!--图片变灰-->
		<script src="__PUBLIC__/plugins/grayscale/grayscale.js" type="text/javascript" charset="utf-8"></script>
		<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>-->
		<script src="__PUBLIC__/plugins/jquery.waypoints/jquery.waypoints.js"></script>
		<script src="__PUBLIC__/plugins/countup/jquery.countup.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$('.box_4').find('.box_list').find('.countUp').countUp();
			$('.captcha_src').click(function(){
       		 	$(this).attr("src",$(this).attr('src'));
			})
			
			window.onload=function(){
				var img=$('.box_5 ul>li>img:nth-child(1)');
				var img_1=$('.box_8 ul>li>img:nth-child(1)');
				grayscale(img);
				grayscale(img_1);
				
			}
				var mini = /_mini\./;
					$('img').each(function(){
						if(mini.test($(this).attr("src"))){
							$(this).attr('src',$(this).attr('src').replace(mini,"."));
						}
					})
					$('.mini').each(function(){
						var this_1=$(this);
						var background_image=$(this).css('background-image');
//						if(mini.test(background_image)){
//							background_image=background_image.replace('_mini','');
//							if(background_image.indexOf('"')==-1 && background_image.indexOf("'")==-1){
//								var img_url=background_image.substring(4,background_image.length-1)
//							}else{
//								var img_url=background_image.substring(5,background_image.length-2)
//							}
//							var img=new Image();
//							img.src = img_url; 
//						    img.onload=function(){
//						    	console.log('图片加载完成')
//						       	this_1.css({'background-image':background_image})
//						    }
//						}
						var background_image=$(this).attr('img-data');
						if(background_image){
							var img=new Image();
							img.src = background_image; 
						    img.onload=function(){
						    	console.log('图片加载完成')
						       	this_1.css({'background-image':'url("'+background_image+'")'})
						    }
						}
					})

		</script>
	</body>
</html>