<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
		<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge,IE=11,IE=10,IE=9,IE=8"/>
		<meta http-equiv="expires" content="0" /> 
		<meta http-equiv="Pragma" content="no-cache" />
		<title>{$basic.WebsiteTitle.val}-{$basic.Subtitle.val}</title>
		<meta name="description" content="{$basic.description.val}" />
		<meta name="keywords" content="{$basic.keywords.val}" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/fontclass/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.css"/>
		<!--顶部-->
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/pc/css/nav.css?a=2"/>
		<!--底部-->
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/pc/css/footer.css"/>
		
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/pc/css/news.css?a=4"/>
	</head>
	<body>
	<div class="max_box">
		<div>
		<!--导航-->
		{include file="index::nav" /}
		
		<div class="banner">
			<div id="myCarousel" class="carousel slide">
				<ul class="carousel-indicators">
					{foreach name="news_3.list" item="news_3Obj" key="i"}
			        <li data-target="#myCarousel" data-slide-to="{$i}" class="{$i==0 ? 'active': ''}"></li>
			        {/foreach}
			    </ul>  
			    <!-- 轮播（Carousel）项目 -->
			    <div class="carousel-inner">
			    	{foreach name="news_3.list" item="news_3Obj" key="i"}
			        <div class="item {$i==0 ? 'active' : ''}">
			            <img src="__UPLOAD__/{$news_3Obj.CoverMap}" />
			            <div class="banner_box">
			            	<div class="banner_title">{$news_3Obj.title}</div>
			            	<div class="banner_text">{$news_3Obj.introduce}</div>
			            	<a href="{:url('index/index/new?i='.$news_3Obj.Id)}" class="banner_btn">了解更多</a>
			            </div>
			        </div>
			        {/foreach}
			    </div>
			</div>
		</div>
		
		<div class="box_1">
			<div>
				<i class="icon iconfont icon-fenlei1"></i>
				<a class="{$typeId==0 ? 'active' :''}" href="{:url('index/index/news')}">全部</a>
				{volist name="newTypeList" id="newTypeObj"}
				<a class="{$typeId==$newTypeObj.Id ? 'active' :''}" href="{:url('index/index/news/'.$newTypeObj.Id.'/1')}">{$newTypeObj.name}</a>
				{/volist}
				<!--<a class="Consultation" href="#">立即咨询</a>-->
			</div>
		</div>
		
		<div class="box_2">
			{if condition="count($newsList.list)!=0"}
			<div class="box2_header">
				{if condition="$typeId==0"}
					新闻中心
					{else}
					{volist name="newTypeList" id="newTypeObj"}
					{if condition="$typeId==$newTypeObj.Id"}
						{$newTypeObj.name}
					{/if}
					{/volist}
				{/if}
			</div>
			<div class="line_1"></div>
			<div class="box_list">
				<ul class="">
					{volist name="newsList.list" id="newObj"}
					<li>
						<a href="{:url('index/index/new?i='.$newObj.Id)}">
							<div class="img"><img src="__UPLOAD__/{$newObj.CoverMap}"/></div>
							<div class="title">{$newObj.title}</div>
							<div class="text">{$newObj.introduce}</div>
						</a>
					</li>
					{/volist}
					<li class="cb"></li>
				</ul>
			</div>
			{else}
			<div class="NoData">
				<img src="__PUBLIC__/image/nocontent.png" alt="" />
			</div>
			{/if}
			{if condition="count($newsList.page.page) gt 1"}
			<ul class="paging">
				{if condition="$newsList.page.upper==''"}
					<a href="javascript:;"><li class="PREVIOUS disable">←&nbsp;PREVIOUS</li></a>
					{else}
					<a href="{:url('index/index/news/'.$typeId.'/'.$newsList.page.upper)}"><li class="PREVIOUS">←&nbsp;PREVIOUS</li></a>
				{/if}
				{foreach name="newsList.page.page" item="pageObj"}
				<a href="{:url('index/index/news/'.$typeId.'/'.$pageObj)}"><li class="{$pageObj==$pageIndex ? 'active' : ''}">{$pageObj}</li></a>
				{/foreach}
				{if condition="$newsList.page.lower==''"}
					<a href="javascript:;"><li class="NEXT disable">NEXT&nbsp;→</li></a>
					{else}
					<a href="{:url('index/index/news/'.$typeId.'/'.$newsList.page.lower)}"><li class="NEXT">NEXT&nbsp;→</li></a>
				{/if}
			</ul>
			{/if}
		</div>
		
		
		{include file="index::footer" /}
		
		</div>
	</div>
	</body>
</html>
