
/*底部*/
.footer_1{
	background: #0E1331;
	padding: 1px 30px;
}
.footer_1>.footer1_1{

	margin: 0px auto;
	padding: 48px 0px 30px;
	border-bottom: 1px solid #1E202F;
}
.footer_1 .left_box{
	position: relative;
    padding-left: 100px;
    color: #FFFFFF;
    border-bottom: 1px solid #565A6F;
    height: 108px;
}
.footer_1 .left_box>img{
	position: absolute;
    left: 0;
    top: 0px;
    width: 80px;
    /*background: #000000;*/
    padding: 15px 15px 20px 15px;
}
.footer_1 .title_1{
	font-size: 26px;
}
.footer_1 .Telephone{
	font-size:24px ;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;
}
.footer_1 .left_box ul{
	position: absolute;
	text-align: right;
	top: 0px;
	right: 0px;
	font-size: 26px;
}
.footer_1 .left_box li{
	color: #d7d8d9;
	height: 30px;
	line-height: 30px;
}
.footer_1 .right_box{
	min-height: 158px;
	border-left: 1px solid #1E202F;
	padding: 38px 0px 0px 0px;
	color: #d7d8d9;
}
.footer_1 .right_box li:not(.cb){
	float: left;
}
.footer_1 .w27{
	width: 26%;
}
.footer .w19{
	width: 19%;
}



.footer_1 .title_2{
	font-size: 25px;
	font-weight: bold;
}
.footer_1 .right_box li>a{
	display: block;
	font-size: 24px;
	color: #9b9ea0;
	margin-top: 17px;
}
.footer_1 .footer1_2{
	margin: 0px auto;
	padding: 30px 0px 10px;
}
.footer_1 .footer1_2 .title>a{
	float: left;
	font-size: 25px;
    color: #BEC8C7;
}
.footer_1 .footer1_2 .friendship{
	margin: 42px 0px 0px 0px;
}
.footer_1 .footer1_2 .friendship>a{
	display: block;
	float: left;
	font-size: 20px;
    color: #9b9ea0;
    margin-right: 32px;
}



.footer_2{
	background: #090A0C;
	padding: 0px 30px;
}
.footer_2>div{
	line-height: 53px;
	margin: 0px auto;
	color: #9b9ea0;
	font-size: 20px;
}
.footer_2>div a{
	color: #9b9ea0;
}
