.header{
	/*background: -webkit-linear-gradient(left, #9242FF , #4FD7FD);
    background: -o-linear-gradient(right, #9242FF, #4FD7FD); 
    background: -moz-linear-gradient(right, #9242FF, #4FD7FD);
    background: linear-gradient(to right, #9242FF , #4FD7FD); */
   	background: #5FA4FF;
	position: relative !important;
}

.box_1{
	background:#F2F2F2;
	height: 75px;
	padding: 1px 30px;
}
.box_1 .Consultation{
	float: right;
	background: #6DDE36;
	height: 38px;
	line-height: 38px;
	font-size: 22px;
	color: #FFFFFF;
	padding: 0px 15px;
	border-radius: 38px;
	margin: 19px 0px 0px;
}
.box_1 .btn-group{
	height: 100%;
}
.box_1 .btn-group button{
	height: 100%;
	border: none;
	background: none;
	font-size: 26px;
	outline: none;
}
.box_1 .btn-group button:focus{
	background-color: #F2F2F2 !important;
	border-color: #F2F2F2 !important;
}
.box_1 .btn-group button>font{
	margin-right: 42px;
	float: left;
}
.box_1 .btn-group button>span{
	    background: #C5CDFF;
    width: 25px;
    height: 25px;
    color: #FFFFFF;
    border-radius: 100%;
    display: inline-block;
    float: left;
    margin-top: 5px;
    font-size: 12px;
    line-height: 24px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-right: 10px;
}
.box_1 .btn-group.open button>span{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.btn-group.open .dropdown-toggle{
	box-shadow:none;
}
.box_1 .btn-group .dropdown-menu{
	background: #5FA4FF;
	padding: 0px;
	margin: 0px;
	font-size: 24px;
	min-width: 160px;
}
.box_1 .btn-group .dropdown-menu>li>a{
	color: #FFFFFF;
	padding: 20px 13px;
}




.box_2{
	margin: 0px auto;
	padding: 1px 0px;
	overflow: hidden;
	min-height: 300px;
}
.box_2 .NoData{
	padding: 90px 0px 90px;
	text-align: center;
}
.box_2 .NoData>img{
	width: 350px;
}

.box_2 .box_list>ul{
	overflow: hidden;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.box_2 .box_list li:not(.cb){
	margin: 0px 0px 25px 0px;
	width: 50%;
	float: left;
}
.box_2 .box_list li:not(.cb):nth-child(2n-1){
	padding: 0px 7px 0px 30px;
}
.box_2 .box_list li:not(.cb):nth-child(2n){
	padding: 0px 30px 0px 7px;
}
.box_2 .box_list .img{
	height: 223px;
}
.box_2 .box_list .img>img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.box_2 .box_list .title{
	font-size: 30px;
	color: #5FA4FF;
	line-height: 30px;
	margin: 26px 0px 19px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.box_2 .box_list .text{
	height: 34px;
	font-size: 24px;
	color: #121927;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.box_2 .box2_btn{
	display: block;
	margin:10px auto 56px;
	width: 220px;
	height: 60px;
	background: #5fa4ff;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 60px;
	border-radius: 60px;
}
